.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register_form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.login_button {
  height: 40px;
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff44;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 10px;
}

.register_validation:disabled {
  cursor: auto;
  background-color: #04dac355;
}
